body {
  margin: 0;
}

.container {
  display: flex;
  margin: 20px;
  min-width: 380px;
}

.chart_box {
  width: 50vw;
  height: 100;
  margin-right: 15px;
}

.newTable {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.newTable ul {
  padding: 0;
  width: 95px;
}

.newTable ul li {
  list-style: none;
  text-align: center;
}

.newTable ul li:first-child {
  font-weight: bold;
}

.newTable ul .up {
  color: #c62828;
}

.newChart {
  margin-top: 20px;
}

.newMap {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 10px;
  width: 50%;
  max-height: 81.5vh;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .chart_box {
    height: auto;
    width: 100%;
    margin: 0 0 20px 0;
  }

  .newMap {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .container {
    margin: 0;
  }
  .newTable,
  .newMap {
    border-style: none;
    border-radius: 0;
  }

  .newTable {
    border-bottom: 1px solid rgb(163, 163, 163);
  }

  .newMap {
    border-top: 1px solid rgb(163, 163, 163);
  }
}
