.container {
  display: flex;
}

.chart_box {
 width: auto;
}

.line1 {
  display: flex;
}

.line1 li {
  list-style: none;
  padding: 0 20px;
  text-align: center;
}

.line2 {
  display: flex;
}

.line2 li {
  list-style: none;
  padding: 0 20px;
  text-align: center;
}

.districts {
  display: flex;
  flex-wrap: wrap;
}

