svg {
    height: 60vh;
    width: 60vw;
}

path {
    fill:#0069c0;
    stroke: white;
    opacity: 0.45;
}
path:hover{
    fill: #0069c0;
    opacity: 1;
}

.bubu {
    background-color: white;
    border: 4px solid #0069c0;
    border-radius: 10px;
    text-align: center;
}